<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/48bc1d1094.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/ico" href="https://cdn.glitch.global/6103ec87-7cd1-4e3e-92fd-0e50a3625728/favicon.ico"/>
    <title>Super Bug Tracker</title>
</head>
<body>
    <h1>LOGIN</h1>
<h3>
    <i class="fa-solid fa-bug-slash"></i> Super Bug Tracker
</h3>
<div class="section">
    <p class="lead">Report issues</p>
</div>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>
</html>
